@model List<Web.DBEntities.Product>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ProductID</th>
            <th>ProductName</th>
            <th>SupplierID</th>
            <th>CategoryID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>@item.ProductName</td>
                <td>@item.SupplierId</td>
                <td>@item.CategoryId</td>
            </tr>
        }
    </tbody>
</table>
